@page
@model LibraryManagementSystem.Pages.Books.GetAllBooksModel
@{
}
@{
    ViewData["Title"] = "AllBooks";
}
<div class="text-center">
    <h1 class="display-2">All Books</h1>
</div>

<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
    </p>
</form>

@if (Model != null)
{
    @foreach (var @item in Model.Books)
    {
        <div style=" margin: 0 0 15px 0;">
            <div style="float: left; margin: 0 15px 0 0;">
                <img src="~/Image/book.jpeg" style=" height: 100px" />
            </div>
            <div>
                <h5>@item.Title</h5>
                @if (item.IsAvailable)
                {
                    <h6>Is Available: Yes </h6>
                }
                else
                {
                    <h6>Is Available: No </h6>
                }

            </div>
            <div style="text-align: justify;">
                @item.Description
            </div>
            
            <div>
                <a type="button" class="btn btn-primary" asp-page="/Copies/GetCopies" asp-route-title="@item.Title" asp-route-id="@item.Isbn">View all Copies</a>
                <a type="button" class="btn btn-danger">Delete</a>
            </div>
            <hr />
        </div>
        
        
    }
}

