@page
@model LibraryManagementSystem.Pages.AboutUsModel
@{
}
<div class="text-center">
    <h1 class="display-2">About Kaiser Library</h1>
</div>
<div>
    <div style="float: left; margin: 0 15px 0 0;">
        <img src="~/Image/book.jpeg" style=" height: 200px"/>
    </div>
    <div style="text-align: justify;">
        Kaiser Shamsher has been collecting books, unusual antics, wild animal skulls, drawings, and photographs since he was a child.
        When he toured libraries and museums in England in 1908, he discovered this yearning. The library systems in England impressed
        him much. Kaiser Library became his personal library once he returned from England. This library was only accessible to Kaiser
        Shamsher's family and select others both within and beyond the country at the time. His wife Rani Krishna Chandra Devi Rana
        donated this library and the Kaiser Palace grounds to His Majesty's Government of Nepal for public use in 1968, as he had
        requested. Kaiser Library has been operating under his name since 1968.
    </div>
</div>
<br />
<div>
    <div style="float: right; margin: 0 0 0 15px;">
        <img src="~/Image/Tiger.jpg" style=" height: 200px"/>
    </div>
    <div style="text-align: justify; margin: 20px 0 0 0; ">
        The taxidermic figure of the massive Royal Bengal Tiger greets every visitor on the ground floor of the Kaiser Library
        with a gesture of friendliness. The walls are adorned with framed heads of various wild creatures. On the walls are
        also framed several artistic paintings of Rana period game hunting, as well as magnificent colored images of late Rajas,
        Maharajas, and Ranas. Similarly, taxidermic lions, tigers, bison, dears, and other exotic animals have added to the
        library's originality, splendor, and beauty. The library's other features include photographs of poets, writers,
        philosophers, and statesmen. Inside the library, the elaborately adorned ceilings, war scenes, and weapons all have
        their own allure. As a result, this is both the library and the museum.
    </div>
</div>
